body {
  background-color: #a0ddf1;
}

nav {
  width: auto;
  height: 10vh;
  border-bottom: solid 2px black;
  margin-bottom: 20px;
}

nav a {
  text-decoration: underline;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: black;
  margin: 10px;
}

nav a:hover {
  color: red;
}

h1 {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
h4,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-text {
  width: 70%;
  border: 3px solid black;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

table {
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  border: 3px solid black;
  text-align: center;
  margin: 0 auto;
  background-color: lightgoldenrodyellow;
}

th,
td {
  padding: 20px;
  border: 3px solid black;
}

.about {
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

.about-text {
  border: 3px solid black;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  text-align: center;
  margin-left: 20px;
  margin-right: 10px;
  padding: 10px;
  height: 25vh;
}

h4 {
  margin-bottom: -10px;
}

.about-list {
  border: 3px solid black;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px;
  height: 25vh;
}

ul {
  list-style-position: inside;
}

.github-link img {
  width: 50px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 20px;
  border-top: solid black 2px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.about footer {
  position: absolute;
}

/* Fonts */
.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Media queries*/
@media (min-width: 1024px) {
  nav a {
    font-size: 30px;
  }
  .intro-text,
  .about-text,
  table {
    width: 70%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  nav a {
    font-size: 25px;
  }
  .intro-text,
  .about-text,
  table {
    width: 80%;
  }
}

@media (max-width: 768px) {
  nav a {
    font-size: 20px;
  }
  .intro-text,
  .about-text,
  table {
    width: 90%;
  }
  th,
  td {
    padding: 15px;
  }

  img {
    width: 50px;
  }

  .about,
  .about-text,
  .about-list {
    height: 70vh;
  }
}
