nav {
  width: auto;
  height: 10vh;
  border-bottom: solid 2px black;
  margin-bottom: 20px;
}

nav a {
  text-decoration:underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: black;
  margin: 10px;
}

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid black;
    text-align: center;
}

th,
td {
  padding: 20px;
  border: 3px solid black;

}